body {
  background-color: #b5f1b5;
  font-family: 'Rethink Sans', sans-serif;
  font-weight: 400;
  margin: 2%;
}


nav {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
}

nav li#home{
  float: left;
}

nav li#home a{
  font-size:larger;
  font-weight: bold;
  color: rgb(12, 70, 12);;
}

nav li#signup button{
  color: rgb(12, 70, 12);
  background-color: #b5f1b5;
}


nav li.sign {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

button {
  background-color: rgb(12, 70, 12);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 52px;
  margin: 1px;
}

button:hover {
  background-color: white;
  color: rgb(12, 70, 12);
}

p#motto {
  font-size: 300%;
  font-weight: 600;
  color: rgb(12, 70, 12);
}

img {
  height: 20em;
  width: 20em;
}

.showcase {
  float: left;
  width: 100%;
}

.showcase img {
  width: 40%;
  
  display: block;
}

.showcase p {
  width: 60%;
  display: block;
}

.filesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
}

.fileElement{
  width: 10%;
  list-style: none;
  margin: 5px;
  align-items: start;
}

.fileElement img {
  width: 100%
}

.fileElement p {
  width: 100%;
}