body {
  background-color: #b5f1b5;
  font-family: 'Rethink Sans', sans-serif;
  font-weight: 400;
  margin: 2%;
}


nav {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
}

nav li#home{
  float: left;
}

nav li#home a{
  font-size:larger;
  font-weight: bold;
  color: rgb(12, 70, 12);;
}

nav li#signup button{
  color: rgb(12, 70, 12);
  background-color: #b5f1b5;
}


nav li.sign {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

button {
  background-color: rgb(12, 70, 12);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 52px;
  margin: 1px;
}

button:hover {
  background-color: white;
  color: rgb(12, 70, 12);
}

p#motto {
  font-size: 300%;
  font-weight: 600;
  color: rgb(12, 70, 12);
}

img {
  height: 20em;
  width: 20em;
}

.showcase {
  float: left;
  width: 100%;
}

.showcase img {
  width: 40%;
  
  display: block;
}

.showcase p {
  width: 60%;
  display: block;
}

.filesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
}

.fileElement{
  width: 9em;
  list-style: none;
  padding: 5px;
  border-radius: 1em;

}

.fileElement:hover {
  background-color: rgba(12, 70, 12, 0.288);
  
}

.fileElement img {
  width: 8em;
  height: 10em;
}

.fileDescription {
  width: 8em;
  display: inline-flex;
  
}

.fileDescription p {
  margin: 0;
  width: 6em;
}

.fileDescription div {
  width: 2em;
}

.fileDescription img {
  width: 2em;
  height: 2em;
  border:1px solid #b5f1b5;
  border-radius: 2em;
}

.fileDescription img:hover {
  border:1px solid rgb(12, 70, 12);
  border-radius: 2em;
}
.three-dots {
   position: relative;
   width: 5em;
  }
.drop-down-options {
  position: absolute;
  top: 5;
  left: 0;
  width: 5em;
  border: 1px solid rgb(12, 70, 12);
}

.drop-down-options li {
  border: 1px solid rgb(12, 70, 12);
  background-color: #b5f1b5;
}

.drop-down-options li:hover {
  border: 1px solid #b5f1b5;
  background-color: #b5f1b5;
}