.page {
    background-color: #b5f1b5;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
    margin: 2%;
}

.heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(12, 70, 12);
    margin-bottom: 1rem;
}

.errorMessage {
    color: rgb(12, 70, 12);
    font-weight: 500;
}

.filesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 8px;
}

.fileElement {
    width: 9em;
    list-style: none;
    padding: 5px;
    border-radius: 1em;
    cursor: pointer;
}

.fileElement:hover {
    background-color: rgba(12, 70, 12, 0.288);
}

.fileIcon {
    width: 8em;
    height: 10em;
}

.fileDescription {
    width: 8em;
    display: inline-flex;
}

.fileDescription p {
    margin: 0;
    width: 6em;
}

.threeDots {
  position: relative;
  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.threeDots img {
  width: 18px;
  height: 18px;
  display: block;
  opacity: 0.8;
  transition: opacity 0.15s ease;
}

.threeDots:hover img {
  opacity: .4;
  background-color: rgb(12, 70, 12);
  border-radius: 50%;
  color:#b5f1b5;
}

.dropDownOptions {
  position: absolute;
  top: 28px;
  right: 0;

  min-width: 120px;
  background: white;

  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);

  overflow: hidden;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  background: none;
  border: none;
  padding: 10px 12px;
  text-align: left;
  width: 100%;

  color: rgb(12, 70, 12);
  font-size: 0.9rem;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: rgba(12, 70, 12, 0.1);
}

.dropDownOptions {
  animation: fadeIn 0.12s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.uploadButton {
    background-color: rgb(12, 70, 12);
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 52px;
    margin: 1px;
    cursor: pointer;
    margin-top: 1rem;
}

.uploadButton:hover {
    background-color: white;
    color: rgb(12, 70, 12);
    outline: 1.5px solid rgb(12, 70, 12);
}

.keyImportSection {
    margin-top: 1rem;
}

.keyImportSection label {
    color: rgb(12, 70, 12);
    font-weight: 500;
    font-size: 0.9rem;
}


.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  color: rgb(12, 70, 12);
  margin: 0;
}

.logoutBtn {
  background-color: transparent;
  color: rgb(12, 70, 12);
  border: 2px solid rgb(12, 70, 12);
}

.logoutBtn:hover {
  background-color: rgb(12, 70, 12);
  color: white;
}